<main>
  <section>
    <div class="principal">
      <div class="contorno">
      <p class="texto-p">El mejor lugar para organizar tu tiempo</p>
      </div>
      <div class="secundario">
        <a href="http://localhost:4200/Calendario"><button class="btn btn-warning boton1" >
          Calendario
        </button></a>
        <a href="http://localhost:4200/Todolist">
          <button class="btn btn-danger boton2" >
            App to do
          </button>
        </a>
      </div>
    </div>
  </section>
</main>
